@use './_variables.scss' as *;

.brand {
  overflow: hidden;
  width: 100%;
  background-color: $bgColor;
  padding: 0 16px;
  align-items: center;

  &__list {
    display: flex;
    padding: 16px 16px 40px;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    max-width: 240px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__button {
    display: none !important;
  }

  &__title {
    margin-top: 36px;
  }
}

.toggle-btn {
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .brand {
    &__list.swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      width: 100%;
      transform: none !important;
    }

    &__item:nth-child(n + 7) {
      display: none;
    }

    &__list--expanded .brand__item:nth-child(n + 7) {
      display: flex;
    }

    &__button {
      display: flex !important;
    }
  }

  .swiper-pagination {
    display: none !important;
  }
}

@media (min-width: 1120px) {
  .brand {
    &__list.swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      transform: none !important;
    }

    &__item:nth-child(n + 7) {
      display: flex;
    }

    &__item:nth-child(n + 9) {
      display: none;
    }
  }

  .swiper-pagination {
    display: none;
  }

  .brand__button {
    display: flex !important;
  }
}
