.cps-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cps-header__title {
  margin-top: 16px;
  padding: 16px;
}
.main {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-x: hidden;
}
.cps-header__title::before {
  content: '';
  display: block;
  position: absolute;
  background-color: aqua;
  width: 3px;
  height: 16px;
  left: 0px;
}

.cps-header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.cps-header__middle {
  display: none;
}

.cps-header__right {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.cps-nav {
  display: flex;

  align-items: center;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 16px;
    list-style-type: none;
    color: black;
  }
  &__item a {
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
  }

  &__item a:hover {
    opacity: 0.5;
    padding-left: 8px;
  }
  &__item--active a {
    display: block;
    border: 1px solid aqua;
    padding: 4px;
  }
}

.cps-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 0;
}

.cps-content__text {
  padding: 16px;
}

.cps-content__background-img {
  display: block;
  width: 100%;
  min-height: 220px;
  background-image: url('../img/cps-img/cps-pic.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.cps-content__paragraph--open {
  margin-bottom: 8px;
}

.cps-content__read-more {
  margin: 8px;
}

.brand__title {
  margin-top: 36px;
  font-size: 16px;
}

.btn {
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .cps {
    display: flex;
    flex-direction: column;
  }
  .cps-content {
    display: flex;
    flex-direction: row;
  }
  .cps-content__background-img {
    flex: 1;
    min-height: 240px;
  }
  .cps-content__text {
    flex: 1;
  }
  .cps-nav__list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

@media (min-width: 1120px) {
}
