@use './_variables.scss' as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper {
  max-width: 100%;
  background-color: $swiperBg;
  overflow: hidden;
}

.swiper-wrapper {
  position: relative;
}
