@import 'swiper/swiper-bundle.css';
@import 'brand__list';
@import 'cps__section';
@import 'aside';
@import 'repair';
@import 'button';
@import 'swiper';
@import 'price';
@import 'footer';

$bgColor: #fff;
$text: #24292e;
$swiperBg: rgb(235, 234, 234);

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  color: $text;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: 'Comic', sans-serif;
  background-color: $bgColor;
  color: $text;
  width: 100%;
}
h3 {
  margin: 8px;
}

body {
  color: $text;
}
ul,
li,
p,
h1,
h2,
h3 {
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #0066cc;
}

ul li {
  color: $text;
}
