@import 'swiper/swiper-bundle.css';
@import 'brand__list';
@import 'cps__section';
@import 'aside';

$bgColor: #fff;
$text: #24292e;
$swiperBg: rgb(235, 234, 234);

@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: sans-serif;
  background-color: $bgColor;
  color: $text;
  width: 100%;
}
